.NavigationItem {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}
.NavigationItem a {
    color: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
.NavigationItem a:hover,
.NavigationItem a:focus,
.NavigationItem a:active,
.NavigationItem a.active {
   background-color: #8f5c2c;
   border-bottom-color: #40a4c8;
}